	<div class="container d-flex flex-row border border-secondary rounded" id="associationsnip">
		<div class="d-flex flex-row  align-self-center col-lg-8">
			<div class="container d-flex flex-column">
				<div clas="align-self-start">
					<h5 class="text-capitalize text-light mt-2 mb-0" id="assoc-vendor"><%=fy.vendorname%></h5>
				</div>
				<div clas="align-self-end">
					<p class="font-italic font-weigt-lighter text-secondary mt-0 mb-0" id="assoc-rdate">Request: <%=fy.rdate%></p>
					<p class="font-italic font-weigt-lighter text-secondary mt-0 mb-2" id="assn-status">Status: <%=fy.status%></p>
				</div>
			</div>
		</div>	
		<div class="d-flex flex-row align-self-center col-lg-4">
			<div class="container d-flex flex-row justify-content-end p-2">
				<a class="btn btn-danger btn-md shadow" id="assocancel">Cancel Request</a>
			</div>
		</div>
	</div>

			