<div class="container d-flex flex-row justify-content-between p-2" id="btn-snip">
	<button class="btn btn-danger btn-md shadow" id="assodis"><data id="user_assoc_id" value = "<%=user%>">Disassociate</data></button>
</div>