<div class="row no-gutters d-flex justify-content-between">
			<div class="container-fluid no-gutters col-lg-3 d-none d-lg-block my-5">
				<div class="d-flex flex-column position-fixed">
					<ul class="nav flex-column ml-0">
						<li class="nav-item">
							<a class="nav-link active text-light" href="/admin/dashboard">Dashboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="#">Manage Stores</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="#">Manage Category</a>
						</li>
					</ul>
				</div>
			</div>