<div class="mx-auto mt-5 col-xl-6 col-lg-8 col-md-10 col-sm-12">
	<div class="container-fluid">
		<div class="d-flex justify-content-center p-3 border rounded border-secondary shadow">
			<div class="d-flex flex-column">
				<div class="d-xs-inline-flex mt-5 mb-3">
				 <h2 class="text-capitalize"><%=title%></h2>
				</div>