<div class="row no-gutters d-flex justify-content-between">
			<div class="col-lg-3 d-none d-lg-block my-5">
				<div class="position-fixed">
					<div class="d-flex flex-column">
					<ul class="nav flex-column ml-0">
						<li class="nav-item">
							<a class="nav-link active text-light" href="/store/create">Build a store</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="#">Stores</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="#">Move to Mall</a>
						</li>
					</ul>
					</div>
					<div class="d-flex flex-column my-3">
						<ul class="nav flex-column ml-0">
							<li class="nav-item">
								<a class="nav-link active text-light" href="/vendor/profile/show">Account</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active text-light" href="/vendor/dashboard">Dashboard</a>
							</li>
						</ul>
					</div>	
				</div>
				
			</div>